--
-- PostgreSQL database dump
--

\restrict mQflqnzz37bZddgAhNElBpNHhMerGU8C2pIcEmlOm3CXH69LXpBK9LxU8cRP0Tv

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bom; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bom (
    id uuid NOT NULL,
    quantity_per_assembly double precision NOT NULL,
    "position" integer NOT NULL,
    comments text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    deleted_at timestamp with time zone,
    component_product_id uuid NOT NULL,
    organization_id uuid NOT NULL,
    parent_product_id uuid NOT NULL
);


ALTER TABLE public.bom OWNER TO postgres;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: equipment_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.equipment_groups (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    count integer NOT NULL,
    mttf_minutes integer NOT NULL,
    mttr_minutes integer NOT NULL,
    overtime_percent double precision NOT NULL,
    comments text,
    equipment_type character varying(50) NOT NULL,
    percent_time_unavailable double precision NOT NULL,
    setup_factor double precision NOT NULL,
    run_factor double precision NOT NULL,
    variability_factor double precision NOT NULL,
    department_area character varying(255),
    out_of_area_equipment boolean NOT NULL,
    eq1 double precision NOT NULL,
    eq2 double precision NOT NULL,
    eq3 double precision NOT NULL,
    eq4 double precision NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    deleted_at timestamp with time zone,
    labor_group_id uuid,
    organization_id uuid NOT NULL
);


ALTER TABLE public.equipment_groups OWNER TO postgres;

--
-- Name: general_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.general_data (
    id bigint NOT NULL,
    model_title character varying(255) NOT NULL,
    author character varying(255) NOT NULL,
    comments text NOT NULL,
    ops_time_unit character varying(4) NOT NULL,
    mct_time_unit character varying(5) NOT NULL,
    prod_period_unit character varying(5) NOT NULL,
    conv1 double precision NOT NULL,
    conv2 double precision NOT NULL,
    util_limit double precision NOT NULL,
    var_equip double precision NOT NULL,
    var_labor double precision NOT NULL,
    var_prod double precision NOT NULL,
    gen1 double precision NOT NULL,
    gen2 double precision NOT NULL,
    gen3 double precision NOT NULL,
    gen4 double precision NOT NULL,
    model_id uuid NOT NULL
);


ALTER TABLE public.general_data OWNER TO postgres;

--
-- Name: general_data_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.general_data ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.general_data_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: labors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.labors (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    count integer NOT NULL,
    overtime_percent double precision NOT NULL,
    unavailability_percent double precision NOT NULL,
    department character varying(255),
    setup_factor double precision NOT NULL,
    run_factor double precision NOT NULL,
    variable_factor double precision NOT NULL,
    prioritize boolean NOT NULL,
    lab1 double precision,
    lab2 double precision,
    lab3 double precision,
    lab4 double precision,
    notes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    deleted_at timestamp with time zone,
    organization_id uuid NOT NULL
);


ALTER TABLE public.labors OWNER TO postgres;

--
-- Name: operations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.operations (
    id uuid NOT NULL,
    op_number integer NOT NULL,
    name character varying(255) NOT NULL,
    percent_assign double precision NOT NULL,
    equipment_setup_per_lot double precision NOT NULL,
    equipment_run_per_piece double precision NOT NULL,
    labor_setup_per_lot double precision NOT NULL,
    labor_run_per_piece double precision NOT NULL,
    formula_override character varying(20),
    comments text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    deleted_at timestamp with time zone,
    equipment_group_id uuid,
    labor_id uuid,
    organization_id uuid NOT NULL,
    product_id uuid NOT NULL
);


ALTER TABLE public.operations OWNER TO postgres;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    organization_code character varying(50) NOT NULL,
    slug character varying(50) NOT NULL,
    plan_type character varying(50),
    contact_email character varying(254),
    contact_phone character varying(20),
    country character varying(100),
    timezone character varying(100),
    status smallint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE public.organizations OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    end_demand integer NOT NULL,
    lot_size integer NOT NULL,
    transfer_batch integer NOT NULL,
    department_area character varying(255),
    demand_factor double precision NOT NULL,
    lot_factor double precision NOT NULL,
    variability_factor double precision NOT NULL,
    make_to_stock boolean NOT NULL,
    gather_transfer_batches boolean NOT NULL,
    prod1 double precision NOT NULL,
    prod2 double precision NOT NULL,
    prod3 double precision NOT NULL,
    prod4 double precision NOT NULL,
    comments text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    deleted_at timestamp with time zone,
    organization_id uuid NOT NULL
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: rmct_modelversion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rmct_modelversion (
    id uuid NOT NULL,
    label character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    snapshot jsonb NOT NULL,
    model_id uuid NOT NULL
);


ALTER TABLE public.rmct_modelversion OWNER TO postgres;

--
-- Name: rmct_rmcmmodel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rmct_rmcmmodel (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    tags jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    last_run_at timestamp with time zone,
    run_status character varying(20) NOT NULL,
    is_archived boolean NOT NULL,
    is_demo boolean NOT NULL,
    is_starred boolean NOT NULL,
    general jsonb NOT NULL,
    param_names jsonb NOT NULL,
    labor jsonb NOT NULL,
    equipment jsonb NOT NULL,
    products jsonb NOT NULL,
    operations jsonb NOT NULL,
    routing jsonb NOT NULL,
    ibom jsonb NOT NULL,
    owner_id integer
);


ALTER TABLE public.rmct_rmcmmodel OWNER TO postgres;

--
-- Name: rmct_scenario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rmct_scenario (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    family_id uuid,
    is_basecase boolean NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    model_id uuid NOT NULL
);


ALTER TABLE public.rmct_scenario OWNER TO postgres;

--
-- Name: rmct_scenariochange; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rmct_scenariochange (
    id uuid NOT NULL,
    data_type character varying(32) NOT NULL,
    entity_id character varying(255) NOT NULL,
    entity_name character varying(255) NOT NULL,
    field_name character varying(255) NOT NULL,
    basecase_value text NOT NULL,
    whatif_value text NOT NULL,
    scenario_id uuid NOT NULL
);


ALTER TABLE public.rmct_scenariochange OWNER TO postgres;

--
-- Name: rmct_scenarioresult; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rmct_scenarioresult (
    id bigint NOT NULL,
    results jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    scenario_id uuid NOT NULL
);


ALTER TABLE public.rmct_scenarioresult OWNER TO postgres;

--
-- Name: rmct_scenarioresult_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rmct_scenarioresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rmct_scenarioresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: routing; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.routing (
    id uuid NOT NULL,
    probability double precision NOT NULL,
    priority integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    deleted_at timestamp with time zone,
    from_operation_id uuid NOT NULL,
    organization_id uuid NOT NULL,
    product_id uuid NOT NULL,
    to_operation_id uuid NOT NULL
);


ALTER TABLE public.routing OWNER TO postgres;

--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_profiles (
    id bigint CONSTRAINT users_userprofile_id_not_null NOT NULL,
    full_name character varying(255) CONSTRAINT users_userprofile_full_name_not_null NOT NULL,
    created_at timestamp with time zone CONSTRAINT users_userprofile_created_at_not_null NOT NULL,
    updated_at timestamp with time zone CONSTRAINT users_userprofile_updated_at_not_null NOT NULL,
    user_id integer CONSTRAINT users_userprofile_user_id_not_null NOT NULL,
    deleted_at timestamp with time zone,
    is_active boolean CONSTRAINT users_userprofile_is_active_not_null NOT NULL,
    organization_id uuid CONSTRAINT users_userprofile_organization_id_not_null NOT NULL,
    role character varying(50) CONSTRAINT users_userprofile_role_not_null NOT NULL
);


ALTER TABLE public.user_profiles OWNER TO postgres;

--
-- Name: users_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_profiles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1000000$kFsa3XPaM2tVDxMzhCqM8I$GGs6r7aMwbcQQTob6DiD1bgTeWsflj0fcSV4qQxEYII=	2026-03-12 17:00:29.965724+05:30	f	karipeneerajkumar2@gmail.com	neeraj		karipeneerajkumar2@gmail.com	f	t	2026-03-09 13:10:58.72293+05:30
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: bom; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	users	userprofile
8	rmct	rmcmmodel
9	rmct	modelversion
10	rmct	scenario
11	rmct	scenariochange
12	rmct	scenarioresult
13	organizations	organization
14	routing	routing
15	operations	operation
16	products	product
17	equipment	equipmentgroup
18	labor	labor
19	ibom	bom
20	generaldata	generaldata
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: equipment_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: general_data; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.general_data (id, model_title, author, comments, ops_time_unit, mct_time_unit, prod_period_unit, conv1, conv2, util_limit, var_equip, var_labor, var_prod, gen1, gen2, gen3, gen4, model_id) FROM stdin;
1		neeraj	this a good model	SEC	DAY	YEAR	48	10	95	30	30	30	0	5	0	0	c56cc129-53fc-4dc0-929b-db325e1be990
\.


--
-- Data for Name: labors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.labors (id, name, count, overtime_percent, unavailability_percent, department, setup_factor, run_factor, variable_factor, prioritize, lab1, lab2, lab3, lab4, notes, created_at, updated_at, deleted_at, organization_id) FROM stdin;
e8d61f0e-1f99-432e-9876-8a84b69f629d	LATHIF	2	7	30	\N	1	1	1	f	0	0	0	0		2026-03-12 15:06:20.539297+05:30	2026-03-12 15:06:30.874987+05:30	\N	00000000-0000-0000-0000-000000000001
\.


--
-- Data for Name: operations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organizations (id, name, organization_code, slug, plan_type, contact_email, contact_phone, country, timezone, status, created_at, updated_at, deleted_at) FROM stdin;
00000000-0000-0000-0000-000000000001	Default Organization	DEFAULT	default	\N	\N	\N	\N	\N	1	2026-03-12 12:07:57.952479+05:30	2026-03-12 12:07:57.952479+05:30	\N
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rmct_modelversion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rmct_modelversion (id, label, created_at, snapshot, model_id) FROM stdin;
\.


--
-- Data for Name: rmct_rmcmmodel; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rmct_scenario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rmct_scenario (id, name, description, family_id, is_basecase, status, created_at, updated_at, model_id) FROM stdin;
62ec8791-6354-418d-a9e0-37fdaf791d16	Basecase		\N	t	calculated	2026-03-12 15:49:10.151638+05:30	2026-03-12 15:49:10.151638+05:30	c56cc129-53fc-4dc0-929b-db325e1be990
\.


--
-- Data for Name: rmct_scenariochange; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rmct_scenariochange (id, data_type, entity_id, entity_name, field_name, basecase_value, whatif_value, scenario_id) FROM stdin;
\.


--
-- Data for Name: rmct_scenarioresult; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: routing; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_profiles (id, full_name, created_at, updated_at, user_id, deleted_at, is_active, organization_id, role) FROM stdin;
1	neeraj	2026-03-09 14:40:48.965586+05:30	2026-03-09 14:40:48.965586+05:30	1	\N	t	00000000-0000-0000-0000-000000000001	user
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 80, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 20, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 29, true);


--
-- Name: general_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.general_data_id_seq', 1, true);


--
-- Name: rmct_scenarioresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rmct_scenarioresult_id_seq', 1, true);


--
-- Name: users_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_userprofile_id_seq', 1, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: bom bom_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bom
    ADD CONSTRAINT bom_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: equipment_groups equipment_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_groups
    ADD CONSTRAINT equipment_groups_pkey PRIMARY KEY (id);


--
-- Name: general_data general_data_model_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_data
    ADD CONSTRAINT general_data_model_id_key UNIQUE (model_id);


--
-- Name: general_data general_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_data
    ADD CONSTRAINT general_data_pkey PRIMARY KEY (id);


--
-- Name: labors labors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labors
    ADD CONSTRAINT labors_pkey PRIMARY KEY (id);


--
-- Name: operations operations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_organization_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_organization_code_key UNIQUE (organization_code);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_slug_key UNIQUE (slug);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: rmct_modelversion rmct_modelversion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rmct_modelversion
    ADD CONSTRAINT rmct_modelversion_pkey PRIMARY KEY (id);


--
-- Name: rmct_rmcmmodel rmct_rmcmmodel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rmct_rmcmmodel
    ADD CONSTRAINT rmct_rmcmmodel_pkey PRIMARY KEY (id);


--
-- Name: rmct_scenario rmct_scenario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rmct_scenario
    ADD CONSTRAINT rmct_scenario_pkey PRIMARY KEY (id);


--
-- Name: rmct_scenariochange rmct_scenariochange_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rmct_scenariochange
    ADD CONSTRAINT rmct_scenariochange_pkey PRIMARY KEY (id);


--
-- Name: rmct_scenarioresult rmct_scenarioresult_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rmct_scenarioresult
    ADD CONSTRAINT rmct_scenarioresult_pkey PRIMARY KEY (id);


--
-- Name: rmct_scenarioresult rmct_scenarioresult_scenario_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rmct_scenarioresult
    ADD CONSTRAINT rmct_scenarioresult_scenario_id_key UNIQUE (scenario_id);


--
-- Name: routing routing_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routing
    ADD CONSTRAINT routing_pkey PRIMARY KEY (id);


--
-- Name: bom unique_component_per_parent; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bom
    ADD CONSTRAINT unique_component_per_parent UNIQUE (parent_product_id, component_product_id);


--
-- Name: equipment_groups unique_equipment_group_per_org; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_groups
    ADD CONSTRAINT unique_equipment_group_per_org UNIQUE (organization_id, name);


--
-- Name: labors unique_labor_name_per_org; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labors
    ADD CONSTRAINT unique_labor_name_per_org UNIQUE (organization_id, name);


--
-- Name: routing unique_operation_path; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routing
    ADD CONSTRAINT unique_operation_path UNIQUE (from_operation_id, to_operation_id);


--
-- Name: operations unique_operation_per_product; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT unique_operation_per_product UNIQUE (product_id, op_number);


--
-- Name: products unique_product_per_org; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT unique_product_per_org UNIQUE (organization_id, name);


--
-- Name: user_profiles users_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT users_userprofile_pkey PRIMARY KEY (id);


--
-- Name: user_profiles users_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT users_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: bom_compone_e5a46f_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bom_compone_e5a46f_idx ON public.bom USING btree (component_product_id);


--
-- Name: bom_component_product_id_33c12b07; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bom_component_product_id_33c12b07 ON public.bom USING btree (component_product_id);


--
-- Name: bom_created_at_e1ab0083; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bom_created_at_e1ab0083 ON public.bom USING btree (created_at);


--
-- Name: bom_deleted_at_fa24951d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bom_deleted_at_fa24951d ON public.bom USING btree (deleted_at);


--
-- Name: bom_organiz_0bbf8f_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bom_organiz_0bbf8f_idx ON public.bom USING btree (organization_id, parent_product_id);


--
-- Name: bom_organization_id_463c1195; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bom_organization_id_463c1195 ON public.bom USING btree (organization_id);


--
-- Name: bom_parent_product_id_f9ff1df4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bom_parent_product_id_f9ff1df4 ON public.bom USING btree (parent_product_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: equipment_g_organiz_567d3c_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX equipment_g_organiz_567d3c_idx ON public.equipment_groups USING btree (organization_id, created_at);


--
-- Name: equipment_g_organiz_86b627_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX equipment_g_organiz_86b627_idx ON public.equipment_groups USING btree (organization_id, department_area);


--
-- Name: equipment_groups_created_at_50ecde78; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX equipment_groups_created_at_50ecde78 ON public.equipment_groups USING btree (created_at);


--
-- Name: equipment_groups_deleted_at_0441d22d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX equipment_groups_deleted_at_0441d22d ON public.equipment_groups USING btree (deleted_at);


--
-- Name: equipment_groups_labor_group_id_68a1e743; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX equipment_groups_labor_group_id_68a1e743 ON public.equipment_groups USING btree (labor_group_id);


--
-- Name: equipment_groups_organization_id_c9ca553b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX equipment_groups_organization_id_c9ca553b ON public.equipment_groups USING btree (organization_id);


--
-- Name: labors_created_at_b317d30d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX labors_created_at_b317d30d ON public.labors USING btree (created_at);


--
-- Name: labors_deleted_at_c66d369c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX labors_deleted_at_c66d369c ON public.labors USING btree (deleted_at);


--
-- Name: labors_organiz_810e66_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX labors_organiz_810e66_idx ON public.labors USING btree (organization_id, created_at);


--
-- Name: labors_organiz_85edd0_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX labors_organiz_85edd0_idx ON public.labors USING btree (organization_id, department);


--
-- Name: labors_organization_id_618a1a40; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX labors_organization_id_618a1a40 ON public.labors USING btree (organization_id);


--
-- Name: labors_prioritize_b471a661; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX labors_prioritize_b471a661 ON public.labors USING btree (prioritize);


--
-- Name: operations_created_at_351b825a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX operations_created_at_351b825a ON public.operations USING btree (created_at);


--
-- Name: operations_deleted_at_4abc1850; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX operations_deleted_at_4abc1850 ON public.operations USING btree (deleted_at);


--
-- Name: operations_equipment_group_id_c07b3a2a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX operations_equipment_group_id_c07b3a2a ON public.operations USING btree (equipment_group_id);


--
-- Name: operations_labor_id_208d4429; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX operations_labor_id_208d4429 ON public.operations USING btree (labor_id);


--
-- Name: operations_organiz_7c05bd_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX operations_organiz_7c05bd_idx ON public.operations USING btree (organization_id, product_id);


--
-- Name: operations_organization_id_0726a6a0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX operations_organization_id_0726a6a0 ON public.operations USING btree (organization_id);


--
-- Name: operations_product_45b615_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX operations_product_45b615_idx ON public.operations USING btree (product_id, op_number);


--
-- Name: operations_product_id_5eed232d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX operations_product_id_5eed232d ON public.operations USING btree (product_id);


--
-- Name: organizatio_status_c5c1c8_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX organizatio_status_c5c1c8_idx ON public.organizations USING btree (status, created_at);


--
-- Name: organizations_created_at_c3d31430; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX organizations_created_at_c3d31430 ON public.organizations USING btree (created_at);


--
-- Name: organizations_deleted_at_f229ce18; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX organizations_deleted_at_f229ce18 ON public.organizations USING btree (deleted_at);


--
-- Name: organizations_name_eee39956; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX organizations_name_eee39956 ON public.organizations USING btree (name);


--
-- Name: organizations_name_eee39956_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX organizations_name_eee39956_like ON public.organizations USING btree (name varchar_pattern_ops);


--
-- Name: organizations_organization_code_1cb6d3c4_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX organizations_organization_code_1cb6d3c4_like ON public.organizations USING btree (organization_code varchar_pattern_ops);


--
-- Name: organizations_slug_aaafa6fa_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX organizations_slug_aaafa6fa_like ON public.organizations USING btree (slug varchar_pattern_ops);


--
-- Name: organizations_status_544b9d76; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX organizations_status_544b9d76 ON public.organizations USING btree (status);


--
-- Name: products_created_at_30e3e54b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_created_at_30e3e54b ON public.products USING btree (created_at);


--
-- Name: products_deleted_at_93c85dc5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_deleted_at_93c85dc5 ON public.products USING btree (deleted_at);


--
-- Name: products_organiz_798a37_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_organiz_798a37_idx ON public.products USING btree (organization_id, department_area);


--
-- Name: products_organiz_d506c9_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_organiz_d506c9_idx ON public.products USING btree (organization_id, created_at);


--
-- Name: products_organization_id_93bac7d3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_organization_id_93bac7d3 ON public.products USING btree (organization_id);


--
-- Name: rmct_modelversion_model_id_9c3507e2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rmct_modelversion_model_id_9c3507e2 ON public.rmct_modelversion USING btree (model_id);


--
-- Name: rmct_rmcmmodel_owner_id_5c4f4864; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rmct_rmcmmodel_owner_id_5c4f4864 ON public.rmct_rmcmmodel USING btree (owner_id);


--
-- Name: rmct_scenario_model_id_e73e704a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rmct_scenario_model_id_e73e704a ON public.rmct_scenario USING btree (model_id);


--
-- Name: rmct_scenariochange_scenario_id_81c84463; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rmct_scenariochange_scenario_id_81c84463 ON public.rmct_scenariochange USING btree (scenario_id);


--
-- Name: routing_created_at_29b2ca9c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX routing_created_at_29b2ca9c ON public.routing USING btree (created_at);


--
-- Name: routing_deleted_at_850acc4e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX routing_deleted_at_850acc4e ON public.routing USING btree (deleted_at);


--
-- Name: routing_from_operation_id_1bb12817; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX routing_from_operation_id_1bb12817 ON public.routing USING btree (from_operation_id);


--
-- Name: routing_organiz_a3d2a0_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX routing_organiz_a3d2a0_idx ON public.routing USING btree (organization_id, product_id);


--
-- Name: routing_organization_id_5d43172b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX routing_organization_id_5d43172b ON public.routing USING btree (organization_id);


--
-- Name: routing_product_574925_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX routing_product_574925_idx ON public.routing USING btree (product_id);


--
-- Name: routing_product_id_3deacc41; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX routing_product_id_3deacc41 ON public.routing USING btree (product_id);


--
-- Name: routing_to_operation_id_a80a42a9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX routing_to_operation_id_a80a42a9 ON public.routing USING btree (to_operation_id);


--
-- Name: unique_basecase_per_model; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX unique_basecase_per_model ON public.rmct_scenario USING btree (model_id, is_basecase) WHERE is_basecase;


--
-- Name: user_profil_organiz_5c8824_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_profil_organiz_5c8824_idx ON public.user_profiles USING btree (organization_id, role);


--
-- Name: user_profil_organiz_95234d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_profil_organiz_95234d_idx ON public.user_profiles USING btree (organization_id, created_at);


--
-- Name: user_profiles_deleted_at_dd9a20da; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_profiles_deleted_at_dd9a20da ON public.user_profiles USING btree (deleted_at);


--
-- Name: user_profiles_is_active_6ee52362; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_profiles_is_active_6ee52362 ON public.user_profiles USING btree (is_active);


--
-- Name: user_profiles_organization_id_fb340562; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_profiles_organization_id_fb340562 ON public.user_profiles USING btree (organization_id);


--
-- Name: user_profiles_role_47534b12; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_profiles_role_47534b12 ON public.user_profiles USING btree (role);


--
-- Name: user_profiles_role_47534b12_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_profiles_role_47534b12_like ON public.user_profiles USING btree (role varchar_pattern_ops);


--
-- Name: users_userprofile_created_at_35b49843; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_userprofile_created_at_35b49843 ON public.user_profiles USING btree (created_at);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bom bom_component_product_id_33c12b07_fk_products_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bom
    ADD CONSTRAINT bom_component_product_id_33c12b07_fk_products_id FOREIGN KEY (component_product_id) REFERENCES public.products(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bom bom_organization_id_463c1195_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bom
    ADD CONSTRAINT bom_organization_id_463c1195_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: bom bom_parent_product_id_f9ff1df4_fk_products_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bom
    ADD CONSTRAINT bom_parent_product_id_f9ff1df4_fk_products_id FOREIGN KEY (parent_product_id) REFERENCES public.products(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: equipment_groups equipment_groups_labor_group_id_68a1e743_fk_labors_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_groups
    ADD CONSTRAINT equipment_groups_labor_group_id_68a1e743_fk_labors_id FOREIGN KEY (labor_group_id) REFERENCES public.labors(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: equipment_groups equipment_groups_organization_id_c9ca553b_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_groups
    ADD CONSTRAINT equipment_groups_organization_id_c9ca553b_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: general_data general_data_model_id_417e6490_fk_rmct_rmcmmodel_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_data
    ADD CONSTRAINT general_data_model_id_417e6490_fk_rmct_rmcmmodel_id FOREIGN KEY (model_id) REFERENCES public.rmct_rmcmmodel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: labors labors_organization_id_618a1a40_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labors
    ADD CONSTRAINT labors_organization_id_618a1a40_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operations operations_equipment_group_id_c07b3a2a_fk_equipment_groups_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_equipment_group_id_c07b3a2a_fk_equipment_groups_id FOREIGN KEY (equipment_group_id) REFERENCES public.equipment_groups(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operations operations_labor_id_208d4429_fk_labors_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_labor_id_208d4429_fk_labors_id FOREIGN KEY (labor_id) REFERENCES public.labors(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operations operations_organization_id_0726a6a0_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_organization_id_0726a6a0_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: operations operations_product_id_5eed232d_fk_products_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_product_id_5eed232d_fk_products_id FOREIGN KEY (product_id) REFERENCES public.products(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products products_organization_id_93bac7d3_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_organization_id_93bac7d3_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rmct_modelversion rmct_modelversion_model_id_9c3507e2_fk_rmct_rmcmmodel_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rmct_modelversion
    ADD CONSTRAINT rmct_modelversion_model_id_9c3507e2_fk_rmct_rmcmmodel_id FOREIGN KEY (model_id) REFERENCES public.rmct_rmcmmodel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rmct_rmcmmodel rmct_rmcmmodel_owner_id_5c4f4864_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rmct_rmcmmodel
    ADD CONSTRAINT rmct_rmcmmodel_owner_id_5c4f4864_fk_auth_user_id FOREIGN KEY (owner_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rmct_scenario rmct_scenario_model_id_e73e704a_fk_rmct_rmcmmodel_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rmct_scenario
    ADD CONSTRAINT rmct_scenario_model_id_e73e704a_fk_rmct_rmcmmodel_id FOREIGN KEY (model_id) REFERENCES public.rmct_rmcmmodel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rmct_scenariochange rmct_scenariochange_scenario_id_81c84463_fk_rmct_scenario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rmct_scenariochange
    ADD CONSTRAINT rmct_scenariochange_scenario_id_81c84463_fk_rmct_scenario_id FOREIGN KEY (scenario_id) REFERENCES public.rmct_scenario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rmct_scenarioresult rmct_scenarioresult_scenario_id_5971a190_fk_rmct_scenario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rmct_scenarioresult
    ADD CONSTRAINT rmct_scenarioresult_scenario_id_5971a190_fk_rmct_scenario_id FOREIGN KEY (scenario_id) REFERENCES public.rmct_scenario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: routing routing_from_operation_id_1bb12817_fk_operations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routing
    ADD CONSTRAINT routing_from_operation_id_1bb12817_fk_operations_id FOREIGN KEY (from_operation_id) REFERENCES public.operations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: routing routing_organization_id_5d43172b_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routing
    ADD CONSTRAINT routing_organization_id_5d43172b_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: routing routing_product_id_3deacc41_fk_products_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routing
    ADD CONSTRAINT routing_product_id_3deacc41_fk_products_id FOREIGN KEY (product_id) REFERENCES public.products(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: routing routing_to_operation_id_a80a42a9_fk_operations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routing
    ADD CONSTRAINT routing_to_operation_id_a80a42a9_fk_operations_id FOREIGN KEY (to_operation_id) REFERENCES public.operations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_profiles users_userprofile_organization_id_31e49b19_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT users_userprofile_organization_id_31e49b19_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_profiles users_userprofile_user_id_87251ef1_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT users_userprofile_user_id_87251ef1_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict mQflqnzz37bZddgAhNElBpNHhMerGU8C2pIcEmlOm3CXH69LXpBK9LxU8cRP0Tv

